#superparentdiv  #p1{
    background-color: antiquewhite;
    color: crimson;
}
/* #parentdiv2 #p1{
    background-color: lightcyan;
    color: rgb(4, 77, 18);
} */
#superparentdiv > #parentdiv1 > #p2{
    background-color: rgb(249, 193, 121);
    color: rgb(1, 34, 87);
}

#parent1 > #sibling1 ~ p{
    background-color: rgb(246, 228, 228);
    color: rgb(55, 3, 3);

}
#parent2 > #sibling1 + p{
    background-color: rgb(246, 228, 228);
    color: rgb(55, 3, 3);

}