
<div id="dashboard">

  <!-- Welcome -->
  <div class="welcome-header">
    <div>
      <h2>Welcome Founder 👋</h2>
      <p>Here’s your startup overview</p>
    </div>
  </div>

  <!-- Stats -->
  <div class="stats-grid">
    <div class="stat-card" *ngFor="let stat of stats">
      <div class="stat-icon">{{ stat.icon }}</div>
      <div>
        <div class="stat-value">{{ stat.value }}</div>
        <div class="stat-label">{{ stat.label }}</div>
      </div>
    </div>
  </div>

  <!-- Dashboard Content -->
  <div class="dashboard-grid">

    <!-- Quick Actions -->
    <div class="card">
      <h3>Quick Actions</h3>
      <div class="quick-actions">
        <a
          *ngFor="let action of quickActions"
          [routerLink]="action.path"
          class="quick-action-btn"
        >
          <span>{{ action.icon }}</span>
          <span>{{ action.label }}</span>
        </a>
      </div>
    </div>

    <!-- Recent Startups -->
    <div class="card">
      <h3>Recent Startups</h3>

      <div *ngIf="recentStartups.length === 0">
        No startups available
      </div>

      <div class="startup-list">
        <div class="startup-item" *ngFor="let s of recentStartups">
          <div>
            <div class="startup-name">{{ s.startupName }}</div>
            <div class="startup-stage">{{ s.industry }}</div>
          </div>

          <div
            class="startup-status"
            [ngClass]="{
              approved: s.approvalStatus === 'APPROVED',
              pending: s.approvalStatus === 'PENDING',
              rejected: s.approvalStatus === 'REJECTED'
            }"
          >
            {{ s.approvalStatus }}
          </div>
        </div>
      </div>
    </div>

    <div class="pagination" *ngIf="totalPages > 1">

      <!-- Prev -->
      <button 
        (click)="prevPage()" 
        [disabled]="currentPage === 0">
        Prev
      </button>

      <!-- Page Numbers -->
      <span 
        *ngFor="let page of pages"
        (click)="goToPage(page)"
        [class.active]="page === currentPage"
        class="page-number"
      >
        {{ page + 1 }}
      </span>

      <!-- Next -->
      <button 
        (click)="nextPage()" 
        [disabled]="currentPage === totalPages - 1">
        Next
      </button>

    </div>

  </div>

</div>